* {
    
}

header {
    width: 100%;
    padding: 3em;
    background-image: linear-gradient(to right, lightblue, darkblue);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

h1 {
    text-align: center;
    color: white;
}

#greyLine {
    border-bottom: 3px solid lightgrey;
    width: 285px;
    /* position: absolute; */
    left: 50%;
    margin-left: 5px;
    top: 0;
    padding: 0.3%;
}

input {
    padding: 1%;
    margin: 0.5%;
    width: 260px;
}

#getCity {
    background-color: #668cff;
    color: white;
    padding: 1%;
    border-radius: 8px;
    border: none; 
    margin: 0.5%;
    width: 285px;
}
