* {
    
}

header {
    width: 100%;
    padding: 3em;
    background-image: linear-gradient(to right, lightblue, darkblue);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

h1 {
    text-align: center;
    color: white;
}

#greyLine {
    border-bottom: 3px solid lightgrey;
    width: 250px;
    /* position: absolute; */
    left: 50%;
    margin-left: -3px;
    top: 0;
}
